## Todo entries:

[[!inline pages="* and tagged(<TMPL_VAR TAG>) and todo() and !todo(done)" archive="yes" sort="todo(deadline)" template="todopage"]]

## Regular entries:

[[!map pages="* and tagged(<TMPL_VAR TAG>) and !todo()"]]

