<ul>
<li>

<TMPL_IF TODODEADLINE>
<tt>
<TMPL_VAR TODODEADLINE>: 
</tt>
</TMPL_IF>

<TMPL_IF PERMALINK>
<a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a>
<TMPL_ELSE>
<a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a>
</TMPL_IF>

</li>
</ul>
